* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

.app-header,
.dashboard-header {
  background-color: #0b3c5d;
  color: #fff;
  padding: 1.5rem;
  width: 35rem;
}

.dashboard-header {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 10rem;
  }
}

main {
  padding: 2rem;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.intro {

  h2 {
    margin-bottom: 2rem;
  }

  > p {
    margin-bottom: 4rem;
  }
}

.landing-intro {
  text-align: center;

  h2 {
    font-size: 2rem;
    color: #0b3c5d;
  }

  p {
    font-size: 1.2rem;
    font-style: italic;
  }
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
}

.transactions {
  h2 {
    margin: 10px;
  }

  .btn-primary {
    font-size: 1.5rem;
    margin: 10px;
  }
}

.transactions table {
  width: 100%;
  border-collapse: collapse;
}

.transactions th,
.transactions td {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.btn-primary {
  background-color: #1abc9c;
  color: #fff;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #16a085;
}

.app-footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 35rem;
  background-color: #0b3c5d;
  color: #fff;
}

.landing-footer {
  margin-top: 13.9rem;
}

.add-transaction {
  background: #fff;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 6px;
}

.add-transaction form {
  display: grid;
  gap: 1rem;
}

.add-transaction label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

#cancelBtn {
  background: #ccc;
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}
#cancelBtn:hover {
  background: #bbb;
}   

.month-filter {
  margin: 1.5rem;
  font-size: 1.4rem;

  input[type="month"] {
    font-size: 1.5rem;
  }
}

