@media only screen and (min-width: 64rem) {
    .app-header,
    .dashboard-header {
      width: 100%;
    }

    .app-footer {
      width: 100%;
    }

    .dashboard-header {
      
      a {
        margin-left: 50rem;
      }
    }

}